.container {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-page {
    width: 500px;
    height: 400px;
    background: #fff;
    align-items: center;
    display: flex; 
    border-radius: 10%;
}

.nome-sistema {
    margin-left: 50px;
    margin-top: -300px;
}

.cont {
    margin-right: 50px;
}